@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Инструкция</h3>
    <p class="lead">Дорогой пользователь, для получения доступа к сайту, вам следует пройти регистрацию.</p>
    <p><a href="http://localhost:50897/Register" class="btn btn-primary btn-lg">Регистрация &raquo;</a>
       <a href="http://localhost:50897/Login/SignIn" class="btn btn-primary btn-lg ">Авторизация &raquo;</a></p>
</div>

